# Compiled Object files
Architect
*.slo
*.lo
*.o
*.obj
*.suo
*.u2d
*.sdf
*.user
*.swp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
ALaDyn
ALaDyn.debug
log.txt
[Dd]ebug/
x64/[Dd]ebug/
[Rr]elease/
x64/[Rr]elease/
cnaf.debug_gnu
cnaf.debug_ifort
cnaf.perf_gnu
cnaf.perf_gnu_avx
cnaf.perf_ifort
cineca.debug_gnu
cineca.debug_xl
cineca.perf
fermi.debug_gnu
fermi.debug_xl
fermi.perf
fermi.scal
eurora.perf
galileo.perf
galileo.gnu
juqueen.perf
plx.perf
cygwin.perf
*~
opt_report.txt
*.optrpt
*epic.txt
*opic.txt
packages
*.opendb
*.pdb
bin/
obj/

Architect
